[submodule "submodules"]
	path = submodules
	url = git@github.com:benedictpaten/jobTree.git
[submodule "subModules/jobTree"]
	path = subModules/jobTree
	url = git@github.com:benedictpaten/jobTree.git
[submodule "subModules/sonLib"]
	path = subModules/sonLib
	url = git@github.com:benedictpaten/sonLib.git
[submodule "submodules/bwa"]
	path = submodules/bwa
	url = git@github.com:lh3/bwa.git
[submodule "submodules/lastz"]
	path = submodules/lastz
	url = git@github.com:UCSCReconGroup/lastz.git
