<config batch_system="singleMachine" default_cpu="1" default_memory="2147483648" job_time="30.0" job_tree="/Users/miten/Downloads/nanopore/testJobTree" log_level="INFO" max_cpus="9223372036854775807" max_job_duration="9.22337203685e+18" max_log_file_size="50120" max_memory="9223372036854775807" max_threads="4" parasol_command="parasol" rescue_jobs_frequency="5400.0" try_count="1" />